<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
    <h3>Global Links:</h3>
    <%= link_to "Goto Users", users_path %><br />
    <%= link_to "Goto Microposts", microposts_path %>
  </body>
</html>
